.heading-shops {
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
  border-radius: 20px;
  color: var(--main-D1);
  background-color: var(--main-t40);
  box-shadow: 0px 0px 15px 15px var(--main-t40);
}
