.bookedCar > h3 {
  display: flex;
  align-items: center;
  min-height: 35px;
}

.bookedCar {
  overflow: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 10px;
  min-height: 35px;
  grid-template-areas:
    " heading button button "
    " accept-dialog accept-dialog accept-dialog ";
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.accept-dialog {
  grid-area: accept-dialog;
}

.accept-dialog button {
  flex-basis: 30%;
  padding: 0;
  margin-left: 10px;
}

.accept-dialog textarea {
  box-sizing: border-box;
  width: 100%;
}

.bookedCar > button {
  flex-basis: 20%;
  margin: 0;
  padding: 0;
}

.cars-waiting-service {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

.items {
  display: flex;
  flex-direction: column;
}

.no-item {
  grid-area: noItem;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--main-t20);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px var(--main-t20);
}

.bookings {
  display: grid;
  grid-template-columns: 485px 485px;

  grid-gap: 30px;
  justify-items: stretch;
  grid-auto-flow: row;
  padding-bottom: 15px;
  margin-bottom: 20px;
  grid-template-areas: " heading heading " "noItem noItem";
}

.bookings > h1 {
  grid-column-start: span 2;
  padding: 15px;
  background-color: var(--main-t20);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px var(--main-t20);
}
