nav {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  /* overflow: hidden; */
  background-color: white;
  /* padding: 1vw; */
  /* min-width: 0; */
}

nav div:last-child {
  display: flex;
  /* padding: 10px; */
  /* margin: 0 0 0 auto; */
}

nav div:last-child a {
  min-width: 0;
  padding: 10px;
}

nav a {
  margin: 2px;
  padding: 1%;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a:active {
  background-color: green;
}

.active {
  background-color: black;
  color: white;
}
