nav {
  background-color: var(--main-w);
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav > section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-w);
  width: 1200px;
  overflow: hidden;
}

nav div:last-child {
  display: flex;
}

nav div:last-child a {
  min-width: 0;
  padding: 15px;
}

nav a {
  margin: 2px;
  padding: 1%;
  border-radius: 5px;
  color: var(--main-D1);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: var(--main-D1);
  color: var(--main-w);
}

nav a:active {
  background-color: var(--main-D6);
}

.active {
  background-color: var(--main-D1);
  color: var(--main-w);
}

.logo {
  color: var(--main-D1);
  width: 100px !important;
}

.logo:hover {
  color: var(--main-D4) !important;
}

.logo-container:hover {
  background-color: var(--main-w) !important;
}

.logo-container {
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
