.controls a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-w);
  border-radius: 5px;
  background-color: var(--main-D1);
  padding: 1%;
}

.controls a:hover {
  background-color: var(--main-w);
  color: black;
}

.controls a:active {
  background-color: var(--main-D6);
}

.cards-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.userCardContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 5%;
}

.innerContainer {
  margin: 0 auto;
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 60%;
  gap: 30px;
  border-radius: 20px;
  background-color: var(--main-t20);
  box-shadow: 0px 0px 20px 20px var(--main-t20);
  color: var(--main-D1);
  line-height: 2.6rem;
}

.avatar {
  text-align: center;
  color: var(--main-D1);
}

.no-shops {
  text-align: center;

  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: var(--main-D1);
  background-color: var(--main-t20);
  box-shadow: 0px 0px 20px 20px var(--main-t20);
}
