.controls a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-w);
  border-radius: 5px;
  background-color: var(--main-D1);
  padding: 1%;
}

.controls a:hover {
  background-color: var(--main-w);
  color: black;
}

.controls a:active {
  background-color: var(--main-D6);
}
