@import "../src/components/UI/ClickButton.css";
@import "../src/components/UI/FormField.css";

.loginSection,
.registerSection {
  margin: 10vh 10vw 10vh 10vw;
}

.form-container {
  width: 60%;
  margin: 10%;
  margin-left: 40%;
  padding: 5%;
  box-shadow: 0px 0px 15px 15px var(--main-t20);
  border-radius: 40px;
  background-color: var(--main-t20);
}

.formClass {
  display: flex;
  flex-direction: column;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-direction: row; */
}

.formFieldGroup {
}

.formFieldGroup > .inputGroup {
  flex-basis: 60%;
  /* border: 5px solid black; */
}

.formClass > .radio-base {
  /* width: 60%; */
}

.formFieldGroup > .icon-container {
  flex-basis: 40%;
}

/* .formFieldGroup svg { */
/* flex-basis: 50%; */
/* border: 5px solid black; */
/* background-color: teal; */
/* } */
/* .formFieldGroup p { */
/* flex-basis: 35%; */
/* color: red; */
/* text-transform: uppercase; */
/* } */

.formFieldGroup > button {
  flex-basis: 60%;
}
