@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import "./form.css";
@import "./App.css";
@import "./components/UI/InfoCard.css";

:root {
  /* Main Color Scheme */
  --main-t20: rgba(255, 255, 255, 0.3);
  --main-t40: rgba(255, 255, 255, 0.4);
  --main-w: #f5deb3;
  --main-D1: #230c0f;
  --main-D1-L: #3b2d2b;
  --main-D2: #226f54;
  --main-D2-L: rgba(34, 111, 84, 0.3);
  --main-D3: #084887;
  --main-D4: #d00000;
  --main-D4-L: rgba(208, 0, 0, 0.2);
  --main-D5: #084887;
  --main-D6: #3d2f00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: darkslategrey; */

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** some specifics */

a {
  text-align: center;
  text-decoration: none;
}

*:focus {
  outline: none;
}

::placeholder {
  opacity: 1;
}
