/* .loginSection {
  margin: 0 20% 0 20%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 20% 0 20%;
} */

/* .loginForm div { */
/* display: flex;
  flex-direction: row;
  justify-content: space-between; */
/* } */

/* .loginForm label {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.loginForm input {
  display: inline-block;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.loginForm input::placeholder {
  color: #fff; */
/* opacity: 1; */
/* } */
