.loginSection {
  margin: 10vh 10vw 10vh 10vw;
}

.formClass > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.formFieldGroup > div {
  flex-basis: 60%;
}
.formFieldGroup > svg {
  flex-basis: 5%;
}
.formFieldGroup > p {
  flex-basis: 35%;
}

.formFieldGroup > button {
  flex-basis: 60%;
}
