.btn {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  color: var(--main-D1);
  border-bottom: 3px solid var(--main-D1);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  /* background-color: white; */
  color: #11998e;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.btn:disabled:hover {
  color: red;
  border-width: 3px;
  border-image: linear-gradient(to right, #991111, #ef3838);
  border-image-slice: 1;
  cursor: not-allowed;
}
