.inputGroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.inputField {
  font-family: inherit;
  width: 100%;
  border-bottom: 2px solid var(--main-D1);
  font-size: 1.3rem;
  color: var(--main-D1);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.inputField::placeholder {
  color: transparent;
}
.inputField:placeholder-shown ~ .inputLabel {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.inputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--main-D1);
}
.inputField:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.inputField:focus ~ .inputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.inputField:required,
.inputField:invalid {
  box-shadow: none;
}

.inputField:invalid {
  color: var(--main-D4);
}
