.radio-base {
  font-family: inherit;
  outline: 0;
  font-size: 1.3rem;
  background: transparent;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.radio-container > input {
  display: none;
}
.radio-container > span {
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: 2px solid var(--main-D1);
  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--main-D1);
  font: inherit;
  width: 100%;
}

.radio-container > input:checked ~ span {
  color: #11998e;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.radio-container:hover {
  cursor: pointer;
}
