.registerSection {
  margin: 10vh 30vw 10vh 30vw;
}

/* .label {
  transition: 0.2s;
  color: #9b9b9b;
  font-family: inherit;
  outline: 0;
  font-size: 1.3rem;
  background: transparent;
  position: relative;
  padding: 0px 3px 0;
  margin-top: 25px;
  box-sizing: border-box;
  display: block;
  border: 1px solid red;
} */
/*
.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 20% 0 20%;
} */

/* .loginForm div { */
/* display: flex;
  flex-direction: row;
  justify-content: space-between; */
/* } */

/* .loginForm label {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.loginForm input {
  display: inline-block;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.loginForm input::placeholder {
  color: #fff; */
/* opacity: 1; */
/* } */
